<div class="col-md-36">
  <div class="panel"><div class="panel-body">
<table class="table">
    <tr>
      <td>名字/昵称</td>
      <td>工作</td>
      <td>备注信息</td>
    </tr>
    <% @checks.each do |f| %>

        <% if f.name != '' %>
          <tr>
          <td><%= f.name %></td>
          <td><%= f.job %></td>
          <td><%= f.description %></td>
          </tr>
        <% end %>

    <% end %>
</table>
      </div></div>
</div>